<!DOCTYPE html>

<html>
<head>
    <title>Work History</title>
    <link href="/Public/css/workHistory.css" rel="stylesheet">
</head>
<body>
    <h1>Work History</h1>
    <form action="/workhistory/add" method="POST">
        <input name="JobTitle" type="text" placeholder="Job Title" />
        <input name="Period" type="text" placeholder="Period" />
        <button type="submit">Save</button>
    </form>
</body>
</html>